build/
log/
install/
.vscode/
__pycache__/
src/perception/dinov3/testing_boneparte_integration/
src/perception/dinov3/checkpoints/
src/perception/dinov3/*.pkl
src/perception/auto_reposition/
*.pyc
**/__pycache__/
.ipynb_checkpoints/