build/
log/
install/
.vscode/
__pycache__/
src/perception/dinov3/testing_boneparte_integration/
src/perception/dinov3/checkpoints/
src/perception/dinov3/*.pkl
src/perception/auto_reposition/
src/perception/do_not_commit_auto_reposition/
*.pyc
**/__pycache__/
.ipynb_checkpoints/
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcworkspace/xcuserdata/